.navStyle {
  height: 50px;
  border-bottom: 3px solid #ff6026;
}
nav ul li .active {
    background-color: #fff;
    color: #ff6026 !important;
    font-weight: bold;
    border-right: 1px solid #2f3c71;
    height: 91% !important;
}
#custom-button-nav {
    height: 60px;
    width: 60px;
    top: 10px;
    left: 10px;
}
.custom-nav {
    top: 11%;
}
@media (min-width: 992px) {
  .navStyle {
    height: 10.5%;
  }
  nav {
    height: 100%;
  }
}
